'
PATH/
*.pyc
rob\to_speak.txt
*~
#auto_*
/vim/vimfiles/bundle_disabled/*
clipboard.txt
rob/to_speak.txt

vim/vimfiles/bundle
#vim/vimfiles/vimfiles
#vim/vimfiles/bundle/GoldenView.Vim/
#vim/vimfiles/bundle/_vimrc
#vim/vimfiles/bundle/jedi-vim/
#vim/vimfiles/bundle/nerdtree/
#vim/vimfiles/bundle/syntastic/
#vim/vimfiles/bundle/vim-repeat/
#vim/vimfiles/bundle/vim-surround/
#vim/vimfiles/bundle/*
vim/vimfiles/.netrwhist
misc/tests/*.exe
youtube-dl.exe

vim/vimfiles/ftplugin/latex-suite/bibtools.pyc
vim/vimfiles/ftplugin/latex-suite/outline.pyc

tests/
vim/docstr_template.txt
vim/vimfiles/clutter
speech/_multiedit.txt
speech/_bringme-en.txt

test_times.txt

vim/vimfiles/view/*
vim/vimfiles/files/
*.swp

homelinks/config/ipython/profile_default/history.sqlite
homelinks/ipython/profile_default/history.sqlite

*/*.egg-info

