[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/jedi-vim"]
	path = vim/vimfiles/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vimfiles/bundle/syntastic"]
	path = vim/vimfiles/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/vimfiles/bundle/vim-unimpaired"]
	path = vim/vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
